{% extends "base.html.twig" %}

{% block container %}
    <header class="p-3 bg-dark text-white">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-sm-9 offset-sm-1 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="/" class="nav-link px-2 text-secondary">Dashboard</a>
                </li>
            </ul>
            <div class="text-end">
                <a type="button" class="btn btn-warning" href="/logout">Logout</a>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-md-12">
            <div class="card my-3 rounded shadow-sm">
                <div class="card-header">User</div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Email</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>First Name:</td>
                            <td>{{ user.firstName }}</td>
                        </tr>
                        <tr>
                            <td>Last Name:</td>
                            <td> {{ user.lastName }}</td>
                        </tr>
                        <tr>
                            <td>Created At:</td>
                            <td>{{ user.createdAt|date("d/m/Y H:i") }}<small>*(in our system)</small></td>
                        </tr>
                        <tr>
                            <td>RefId:</td>
                            <td>{{ user.refId }}</td>
                        </tr>
                        <tr>
                            <td>Picture:</td>
                            <td>
                                {{ user.picture }} <br/>
                                <img src="{{ user.picture }}" alt=""/>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="card my-3 rounded shadow-sm">
        <div class="card-header">Watch List</div>
        <div class="card-body">
            <form action="/" method="POST">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <label for="number" class="col-form-label">Watch Number</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="number" name="number" class="form-control" aria-describedby="number">
                    </div>
                    <div class="col-auto">
                        <span id="number" class="form-text">
                            The number format must be (NUMBER/YEAR) example 1234583/2019
                        </span>
                    </div>
                </div>
                <div class="d-grid gap-2 mt-2">
                    <button class="btn btn-warning">Add</button>
                </div>
            </form>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th># Nr</th>
                        <th>Watch Number</th>
                        <th class="text-center">Added on</th>
                    </tr>
                </thead>
                <tbody>
                    {% for model in collection %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ model.number }}/{{ model.year }}</td>
                            <td class="text-center">{{ model.createdAt|date("d/m/Y H:i") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}